/* Error: There is no module with the namespace "map".
 *    ,
 * 29 |   @media (max-width: map.get($breakpoints, $size)) {
 *    |                      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   scss\_variable.scss 29:22  breakpoint-down()
 *   scss\main.scss 77:3        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "map".\a    \2577 \a 29 \2502    @media (max-width: map.get($breakpoints, $size)) {\d\a    \2502                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   scss\\_variable.scss 29:22  breakpoint-down()\a   scss\\main.scss 77:3        root stylesheet';
}
